.footer {
     background-color: #EC6F66;
     padding-top: 1.8rem;
     padding-bottom: 1.8rem;
     margin-top: 0.5rem;
}

.logoFooter {
     display: flex;
     flex-direction: row;
     justify-content: center;
     margin-top: 0rem;
}

.logoFooter img {
     width: 11rem;
     height: 3.3rem;
     margin-bottom: 0.3rem;
}

.logoFooter h3 {
     margin-top: -0.2rem;
     font-size: 2.5rem;
}

.footer h3 {
     color: white;
     text-align: center;
     font-weight: 500;
     font-family: 'Jost', sans-serif;
     text-decoration: none;
}

.footer a {
     text-decoration: none;
}

.footer h5 {
     margin-top: 1.5rem;
     font-size: 0.9rem;
     color: white;
     text-align: center;
     font-weight: 500;
     font-family: 'Jost', sans-serif;
}

.media {
     display: flex;
     justify-content: center;
}

.media img {
     width: 5rem;
     height: 5rem;
}